.player-root{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  text-align: center;
  .player{
    margin: 5px 0;
    font-size: 1.5em;
  }
  .win{
    font-size: 2em;
  }
  .name{
    font-size: 2em;
    margin: 5px 0;
  }
  .active{
    font: 1.7em Arial, sans-serif;
    text-shadow: #2139e2 0 0 8px;
  }
  .activeWin{
    font: 3em Arial, sans-serif;
    text-shadow: #2139e2 0 0 8px;
  }
  .loader-player{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    .icon{
      width: 100px;
      height: 100px;
      animation: icon-spin infinite 5s linear;
    }
    @keyframes icon-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
    }
  }
}
